<p>Total Spend (all time): <%= @total %></p>
<p>Remaining Budget: <%= @budget_minus_total %></p>

<% @merchants.each do |merchant| %>
  <% @trans = Transaction.transactions_by_merchant(merchant.id) %>
    <table>
      <thead>
        <tr>
          <th>
            Merchant
          </th>
          <th>
            Type
          </th>
          <th>
            Description
          </th>
          <th>
            Amount
          </th>
          <th>
            Date
          </th>
        </tr>
      </thead>
      <tbody>
        <% @trans.each do |tran| %>
          <tr>
            <td>
              <%= tran.merchant().name %>
            </td>
            <td>
              <%= tran.tag().type %>
            </td>
            <td>
              <%= tran.description %>
            </td>
            <td>
              <%= tran.amount %>
            </td>
            <td>
              <%= tran.pretty_date %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
<% end %>
