<br/>
<p>Total Spend (all time): <a class="num"><%= @total %></a></p>
<br/>
<p>
  Remaining Budget:

  <% if (@budget_minus_total < 0) %>
  <a class="num neg_num"> <%= @budget_minus_total %> </a>
  <% else %>
  <a class="num pos_num"> <%= @budget_minus_total %> </a>
  <% end %>

</p>
<br/>
<br/>
<br/>

<% @tags.each do |tag| %>
  <% @trans = Transaction.transactions_by_tag(tag.id) %>
    <table>
      <thead>
        <tr>
          <th class="header1">
            Type
          </th>
          <th class="header2">
            Merchant
          </th>
          <th class="header3">
            Description
          </th>
          <th class="header4">
            Amount
          </th class="header5">
          <th>
            Date
          </th>
        </tr>
      </thead>
      <tbody>
        <% @trans.each do |tran| %>
          <tr>
            <td>
              <%= tran.tag().type %>
            </td>
            <td>
              <%= tran.merchant().name %>
            </td>
            <td>
              <%= tran.description %>
            </td>
            <td>
              <%= tran.amount %>
            </td>
            <td>
              <%= tran.pretty_date %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
<% end %>
