<p>Total Spend (all time): <%= @total %></p>

<form class="" action="/transactions" method="post">
  <button type="button" name="button">Test</button>
</form>

<table>
  <thead>
    <tr>
      <th>
        Description
      </th>
      <th>
        Merchant
      </th>
      <th>
        Type
      </th>
      <th>
        Amount
      </th>
      <th>
        Date
      </th>
    </tr>
  </thead>
  <tbody>
    <% @transactions.each do |trans| %>
      <tr>
        <td>
          <%= trans.description %>
        </td>
        <td>
          <%= trans.merchant_id %>
        </td>
        <td>
          <%= trans.tag_id %>
        </td>
        <td>
          <%= trans.amount %>
        </td>
        <td>
          <%= trans.transaction_date %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
