<br/>
<p>Total Spend (all time): <a class="num">£<%= @total %></a></p>
<br/>
<p>
  Remaining Budget:

  <% if (@budget_minus_total < 0) %>
  <a class="num neg_num"> £<%= @budget_minus_total %> </a>
  <% else %>
  <a class="num pos_num"> £<%= @budget_minus_total %> </a>
  <% end %>

</p>
<br/>
<br/>
<br/>


<form class="" action="/transactions" method="post">

  <label for="merchant-field">Merchant</label>
  <select
  name="merchant_id"
  id="merchant-field"
  >
  <% for merchant in @merchants %>
    <option value="<%= merchant.id %>">
      <%= merchant.name %>
    </option>
  <% end %>
  </select>

  <label for="type-field">Type</label>
  <select
  name="tag_id"
  id="tag-field"
  >
  <% for tag in @tags %>
    <option value="<%= tag.id %>">
      <%= tag.type %>
    </option>
  <% end %>
  </select>

  <label for="description-field">Description</label>
  <input
  type="text"
  name="description"
  id="description-field"
  />

  <label for="amount-field">Amount</label>
  <input
  type="text"
  name="amount"
  id="amount-field"
  />

  <label for="date-field">Date</label>
  <input
  type="date"
  name="transaction_date"
  id="date-field"
  />
<br/>
  <input class="button button_add button_standard" type="submit" value="Add Transaction">
</form>

<br/>

<table class="all">
  <thead>
    <tr>
      <th class="header1">
        Merchant
      </th>
      <th>
        Type
      </th>
      <th>
        Description
      </th>
      <th>
        Amount
      </th>
      <th>
        Date
      </th>
      <th>
        Edit
      </th>
      <th class="right_table">
        Delete
      </th>
    </tr>
  </thead>
  <tbody>
    <% @transactions.each do |trans| %>
    <tr>
        <td>
          <%= trans.merchant().name %>
        </td>
        <td>
          <%= trans.tag().type %>
        </td>
        <td>
          <%= trans.description %>
        </td>
        <td>
          <%= trans.amount %>
        </td>
        <td>
          <%= trans.pretty_date %>
        </td>
        <td>
          <form class="" action="/transactions/<%= trans.id %>/edit" method="get">
            <input class="button button_edit" type="submit" value="Edit">
          </form>
        </td>
        <td>
          <form class="" action="/transactions/<%= trans.id %> /delete" method="post">
            <input class="button button_delete" type="submit" value="Delete">
          </form>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
